<h1>{{title}}</h1>
<p class="header">Welcome to {{title}}, {{name}} ls</p>
<button type="button"><a href="hello/login">Login</a></button>
<button type="button"><a href="hello/register">Register</a></button>
